ion-card {
    padding: 4px 0px;
    
}
ion-button{
    padding: 30px, 0px;
}
ion-content{
    --background: #fff url('../../bus4.jpg') no-repeat center center / cover;
    
}
.background.scroll-content{
    background-size: cover;
    size: 0ch;
}



